body {
	font-family: "Open Sans", helvetica, sans-serif;
}

.ballon {
	left: 30px;
	top: 150px;
	background: url(ballon.png) 50% 50% no-repeat;
	width: 200px;
	height: 300px;
	background-size: cover;
}

.bobbing {
    position: absolute;
    
    animation-name: bobbingAnim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    -webkit-animation-name: bobbingAnim;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}

.page1 {
	text-align: center;
}

.title {
	margin-top: 90px;
	font-size: 80px;
}

#countbox1 {
	font-size: 45px;
	margin-top: 220px;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.tagline {
	margin-top: 320px;
	font-size: 30px;
	letter-spacing: 0.15em;
}

@keyframes bobbingAnim {
   0% {
       transform: translate(0px, 0px);
       animation-timing-function:ease-in-out
   }

   50% {
       transform: translate(0px, 12px);
       animation-timing-function:ease-in-out
   }

   100% {
       transform: translate(0px, 0px);
       animation-timing-function:ease-in-out
   }
}

@-webkit-keyframes bobbingAnim {
   0% {
       -webkit-transform: translate(0px, 0px);
       -webkit-animation-timing-function:ease-in-out
   }

   50% {
       -webkit-transform: translate(0px, 12px);
       -webkit-animation-timing-function:ease-in-out
   }

   100% {
       -webkit-transform: translate(0px, 0px);
       -webkit-animation-timing-function:ease-in-out
   }
}