body {
	font-family: "Abel", helvetica, sans-serif;
}
.page1 {
	position: relative;
	text-align: center;
	width: 100%
}

.dogevideo {
	position: absolute;
	top: -5px;
	left: 0px;
	width: auto;
    height: 900px;
	z-index: 0;
}

.vid {
	position: relative;
	width: auto;
	height: 100%;
	overflow: hidden;
}

.pageheader {
	text-align: center;
	opacity: 0.90;
	top: 28%;
	left: 50%;
	width: 1130px;
	height: 500px;
	margin-left: -565px; /* half of width but negative */
	margin-top: -171.5px;
	position: absolute;
	color: black;
	z-index: 1;
}

.textheader {
	color: black;
	background:#bdbdbd;
	opacity: 0.4;
	height: 365px;
}


.title {
	margin-top: 120px;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	padding-top: 20px;
}

.title:hover {
	margin-top: 120px;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	padding-top: 20px;
	color: #4E76FF;
}

.countdown {
	text-align: center;
	opacity: 0.90;
	top: 78%;
	left: 50%;
	width: 1130px;
	height: 500px;
	margin-left: -565px; /* half of width but negative */ 
	margin-top: -171.5px;
	position: absolute;
	color: black;
	z-index: 1;
}

.countdown:hover {
	text-align: center;
	opacity: 0.90;
	top: 78%;
	left: 50%;
	width: 1130px;
	height: 500px;
	margin-left: -565px; /* half of width but negative */ 
	margin-top: -171.5px;
	position: absolute;
	color: #F1690A;
	z-index: 1;
}

#countbox1 {
	font-size: 45px;
	margin-top: 40px;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.tagline {
	margin-top: 50px;
	font-size: 30px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.ballon {
	left: 2%;
	top: 10%;
	background: url(ballon.png) 50% 50% no-repeat;
	width: 200px;
	height: 350px;
	background-size: cover;
	z-index: 1000;
}
.bobbing {
    position: fixed;
    
    animation-name: bobbingAnim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    -webkit-animation-name: bobbingAnim;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}

@keyframes bobbingAnim {
   0% {
       transform: translate(0px, 0px);
       animation-timing-function:ease-in-out
   }

   50% {
       transform: translate(0px, 12px);
       animation-timing-function:ease-in-out
   }

   100% {
       transform: translate(0px, 0px);
       animation-timing-function:ease-in-out
   }
}

@-webkit-keyframes bobbingAnim {
   0% {
       -webkit-transform: translate(0px, 0px);
       -webkit-animation-timing-function:ease-in-out
   }

   50% {
       -webkit-transform: translate(0px, 12px);
       -webkit-animation-timing-function:ease-in-out
   }

   100% {
       -webkit-transform: translate(0px, 0px);
       -webkit-animation-timing-function:ease-in-out
   }

}

.scrollfirst {
	text-align: center;
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -27px;
	padding-bottom: 5px;
	z-index: 10;
}

.button {
	width: 70px;
	height: 35px;
	margin-left: -35px;  /*half of width but negative*/ 
}

.page2 {
	text-align: center;
	background-color: #4E76FF;
	height: 100%;
	width: 100%
}

.scrollsecond {
	text-align: center;
	position: absolute;
	bottom: -630px;
	left: 50%;
	margin-top: 1200px;
	z-index: 10;
}

.summary {
	margin: auto 160px;
	font-size: 1.4rem;
	color: white;
}

.page3 {
	background-color: #F1690A;
	height: 100%;
	width: 100%;
}

.github {
	font-size: 30px;
	float: left;
	text-decoration: none;
	color: #696969;
	margin-left: 240px;
	margin-top: 47px;
}

.github:hover {
	font-size: 30px;
	float: left;
	color: #939393;
}

.email {
	float: right;
}

.footer {
	height: 125px;
	background-color: #463E3F;
}